/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  overflow-x: hidden;
}

.img-divider {
  border-top: 2px solid;
}

.button-overlay {
  position: relative;
  top: 55%;
  float: right;
}

.btn-circle.btn-xl {
}

@media (min-width:1080px) {
  .button-overlay-sm-xs {
    position: relative;
    top: 55%;
    float: right;
  }
}

@media (min-width:896px) and (max-width:1080px){
  .button-overlay-sm-xs {
    position: relative;
    top: 45%;
    float: right;
  }
}

@media (min-width:696px) and (max-width:895px){
  .button-overlay-sm-xs {
    position: relative;
    top: 30%;
    float: right;
  }
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
